.container {
    padding: 1em;
}

.first-component {
    background-color: #18cdf6;
    width: 30vw;
    @include flexColumn;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    border: solid .15em;
    box-shadow: 4px 4px 8px;
}