.testref-section {
    position: relative;
    background-color: #ffc3fa;
    margin: 1em 0;
    border: solid;
    padding: 1em;
    h1 {
     font-size: 2em;
    }
    p {
        font-size: 1.5em;
    }
}

.refs-object {
    margin: 1em 0;
}
.refs-array {
    margin: 1em 0;
}